@use "sass:math";

.card {
  display: block;
  position: relative;
  padding: $base-padding;
  border: $base-border-thickness solid #ddd;
  box-shadow: $base-box-shadow;
  // margin: 30px;
  max-width: 400px;
  border-radius: math.div($base-border-radius, 2);

  .card-title {
    font-size: $font-size-lg;
    padding-bottom: $base-padding;
    font-weight: bold;
    color: $primary;
  }
  .card-body {
    font-size: $base-font-size;

    a {
      text-decoration: underline;
    }
  }

  span {
    position: absolute;
    top: 18px;
    right: 12px;
  }

  .card-button {
    @include btn(map-get($colors, "primary"));
    width: 100%;
    font-size: $font-size-md;
    color: white;
    border-radius: 8px;
    padding: 4px 8px;
  }
}
